.iconb{
    width: 2em;
    height: 2em;
}
.back{
    background-color: none;
    background: none;
    margin: 1rem;
}
.tittle{
    font-weight: 600;
    font-size: 1.5rem;
    color: #fffdf1;
}
.header{
    display: flex;
}