<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title class="tittle">Inventario</ion-title>
  </ion-toolbar>
  <a [routerLink]="['/home']" class="back">
    <ion-icon name="arrow-undo" class="iconb"></ion-icon>
  </a>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inventario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let queso of eventList">
      <ion-label>
        <h3>{{ queso.name }}</h3>
        <p>Fecha de ingreso: {{ queso.datest| date }}</p>
        <p>Fecha de salida: {{ queso.dateen| date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
